@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-black: #141414;
  --color-gray_xl: #d1d5db;
  --color-gray_l: #7c7c7c;
  --color-gray_m: #4c4c4c;
  --color-gray_b: #2c2c2c;
  --color-blue_xl: #eaf6ff;
  --color-blue_l: #85c1e9;
  --color-blue_m: #3498db;
  --color-blue_b: #21618c;

  --color-green_l: #a3e4d7;
  --color-green_m: #2ecc71;
  --color-green_b: #1e8449;

  --color-error: #e74c3c;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
